body {
   color: white ;
   background-color: grey;
   
}

 .container{
    width: 80%;
    background-color:green;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
 }
 

 .content {
    width: 50%;
    height: 500px;
    
 
 }
 .content-up{

    width: 80%;
     
    margin: auto;

 }

 
.khoi-nut {
    margin-bottom: 10px;
}

 button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: red;
     
    border: 2px solid white;
 } 
 .buton{
    color: white;
    background-color: blue;

 }