body {
  margin: 0;
}
ul {
  margin: 0;
}

.danhmuc {
  background-color: #2fa4e7;
  padding: 20px;
}

.danhmuc-danhsach {
  display: flex;
  list-style: none;
  /* bỏ dấu chấm */
}

.danhmuc-muc {
  margin: 10px;
}

.danhmuc-lienket {
  color: white;
  text-decoration: none;
  /* bỏ gạch chân thẻ liên kết */
  font-size: larger;
}
.danhmuc-lienket:hover {
  color: blueviolet;
}

.logo {
  height: 80px;
  background-color: aqua;
}
main {
  display: flex;
}

.noidungtrai {
  width: 80%;
  border-radius: 10px;
}
.noidungphai {
  height: 1000px;
  background-color: bisque;
  width: 20%;
}

.tieude {
  background-color: #2fa4e7;
  padding: 20px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}

.tintuc-danhsach {
    display: flex;
    justify-content: space-between;
}

.baiviet {
    height: 200px;
    background-color: cadetblue;
    width: 32%;
}





